<div class="row m-lg-5">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="input-group form-group">
            <input type="search" placeholder="Search" aria-label="Search" class="form-control mr-sm-2" type="text" id="direccion">
            <span class="input-group-btn">
                <button (click)="buscador()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>

            </span>
        </div>
        <!-- /input-group -->
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4"></div>
</div>
<!-- /.row -->